<?xml version="1.0" encoding="UTF-8"?>

<phpunit
	bootstrap                               = "test/TestData/bootstrap.php"
	colors                                  = "true"
	beStrictAboutTestsThatDoNotTestAnything = "true"
	beStrictAboutCoversAnnotation           = "true"
	beStrictAboutOutputDuringTests          = "true"
	beStrictAboutChangesToGlobalState       = "true"
>

	<testsuites>

		<testsuite name="test">

			<directory>test</directory>

		</testsuite>


	</testsuites>


	<filter>

	  <whitelist processUncoveredFilesFromWhitelist="true" addUncoveredFilesFromWhitelist="true">

	    <directory suffix=".php">src</directory>

	  </whitelist>

	</filter>


</phpunit>
